body {
  margin: 0;
  font-family: system-ui;
  background-color: rgb(50, 90, 128);
  background-image: url("/images/galaxy.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  padding-top: 50px; 
}

#game {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#game h1 {
  color: white;
  font-size: 10vw;
  font-family: Helvetica;
  margin-bottom: 20px;
  padding-top: 25px;
}

#USS-Assembly {
  background-image: url("/images/ussAssembly.jpg");
  background-size: cover;
  }

#alien-fleet {
  background-image: url("/images/alienShip.jpg");
  background-size: cover;
} 

#USS-Assembly, #alien-fleet {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 500px;
  padding: 20px;
  border: 1px solid rgb(8, 8, 8);
}

#USS-Assembly p, #alien-fleet p {
  font-weight: bold;
  color: white;
}

#alien-ships {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#alien-ships li {
  margin-bottom: 10px;
}

#game-controls {
  margin-top: 20px;
}

#game-controls button {
  padding: 10px 20px;
  font-size: 1.2em;
  margin-right: 20px;
}

#game-status {
  margin-top: 20px;
}

#game-status p {
  font-weight: bold;
}

#status-message {
  font-family: helvetica;
  color: red;
  font-size: 10vw;
}

